In [1]:
from google.colab import drive
drive.mount('/content/drive')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Rakamin/Take_Home/loan_customer.csv')

###### Buatlah tabel yang menunjukkan banyaknya nasabah yang sudah dikelompokkan berdasarkan status perkawinan untuk setiap jangka waktu meminjam (dalam tahun).

In [ ]:
df.loc [ 0 : , ['married','loan_amount','loan_term_month','loan_term_year']]
df.iloc [0 : , [4,10,11,12]]

    married  loan_amount  loan_term_month  loan_term_year
0        No       100000              360              30
1       Yes       128000              360              30
2       Yes        66000              360              30
3       Yes       120000              360              30
4        No       141000              360              30
..      ...          ...              ...             ...
616      No        71000              360              30
617     Yes        40000              180              15
618     Yes       253000              360              30
619     Yes       187000              360              30
620      No       133000              360              30

[621 rows x 4 columns]