In [1]:
from google.colab import drive
drive.mount('/content/drive')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Mounted at /content/drive

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Rakamin/Take_Home/loan_customer.csv')

**Membersihkan Data**

# Handling duplicated data

In [3]:
df.duplicated().sum()

1

# Handling missing value

In [4]:
df.isna().sum()

d                       0
birth_date             49
phone_number           52
gender                 13
married                 3
dependents             16
education               1
self_employed          33
applicant_income        9
coapplicant_income      0
loan_amount             0
loan_term_month         0
loan_term_year          0
credit_history         51
has_credit_card       533
property_type           1
loan_status             0
dtype: int64

Menghapus nilai yang hilang

In [5]:
df = df.dropna()

In [6]:
df.isna().sum()

d                     0
birth_date            0
phone_number          0
gender                0
married               0
dependents            0
education             0
self_employed         0
applicant_income      0
coapplicant_income    0
loan_amount           0
loan_term_month       0
loan_term_year        0
credit_history        0
has_credit_card       0
property_type         0
loan_status           0
dtype: int64

menghapus data yang terduplicate

In [7]:
print(df.duplicated().sum())
df.drop_duplicates(inplace=True)
print(df.duplicated().sum())

0
0

# Handling outlier

In [ ]:
'''print(df'Jumlah baris sebelum memfilter outlier: {len(df)}')

for col in ['dependents','applicant_income', 'coapplicant_income', 'loan_amount']:
  Q1 = df[col].quantile(0.25)
  Q3 = df[col].quantile(0.75)
  IQR = Q3-Q1
  low_limit = Q1 - 1.5*IQR
  high_limit = Q3 + 1.5*IQR
  df = df[(df[col] >= low_limit) & (df[col] <= high_limit)]

print(df'Jumlah baris setelah memfilter outlier: {len(df)}')
'''

"print(df'Jumlah baris sebelum memfilter outlier: {len(df)}')\n\nfor col in ['dependents','applicant_income', 'coapplicant_income', 'loan_amount']:\n  Q1 = df[col].quantile(0.25)\n  Q3 = df[col].quantile(0.75)\n  IQR = Q3-Q1\n  low_limit = Q1 - 1.5*IQR\n  high_limit = Q3 + 1.5*IQR\n  df = df[(df[col] >= low_limit) & (df[col] <= high_limit)]\n\nprint(df'Jumlah baris setelah memfilter outlier: {len(df)}')\n"

# Feature encoding

In [8]:
# pengecekan nilai/entri dari kolom-kolom kategorikal
cats_updated = ['gender', 'married', 'education', 'self_employed']

for col in cats_updated:
  print(f'value counts of column {col}')
  print(df[col].value_counts())
  print('---'*10, '\n')

value counts of column gender
Male      42
Female    10
Name: gender, dtype: int64
------------------------------

value counts of column married
Yes    32
No     20
Name: married, dtype: int64
------------------------------

value counts of column education
Graduate        37
Not Graduate    15
Name: education, dtype: int64
------------------------------

value counts of column self_employed
No     42
Yes    10
Name: self_employed, dtype: int64
------------------------------

In [9]:
mapping_gender = {
    'Female' : 0,
    'Male' : 1
}

mapping_married = {
    'No' : 0,
    'Yes' : 1
}

mapping_education = {
    'Not Graduate' : 0,
    'Graduate' : 1
}

mapping_self_employed = {
    'No' : 0,
    'Yes' : 1
}

df['gender'] = df['gender'].map(mapping_gender)
df['married'] = df['married'].map(mapping_married)
df['education'] = df['education'].map(mapping_education)
df['self_employed'] = df['self_employed'].map(mapping_self_employed)

In [10]:
df.head(10)

           d  birth_date  ...  property_type  loan_status
12  LP001028  16/11/1987  ...          house      APPROVE
21  LP001046  25/06/1984  ...          house      APPROVE
26  LP001068  10/09/1986  ...      apartment      APPROVE
27  LP001073  05/02/1989  ...          house      APPROVE
28  LP001086  21/11/1978  ...          house       REJECT
31  LP001095  21/09/1983  ...          house       REJECT
43  LP001131  09/11/1986  ...      apartment      APPROVE
47  LP001144  31/08/1984  ...          house      APPROVE
72  LP001248  07/06/1986  ...      apartment      APPROVE
75  LP001255  12/07/1980  ...          house       REJECT

[10 rows x 17 columns]

In [11]:
# informasi dataframe yang sudah di-preprocessing
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 12 to 613
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   d                   52 non-null     object
 1   birth_date          52 non-null     object
 2   phone_number        52 non-null     float64
 3   gender              52 non-null     int64
 4   married             52 non-null     int64
 5   dependents          52 non-null     object
 6   education           52 non-null     int64
 7   self_employed       52 non-null     int64
 8   applicant_income    52 non-null     float64
 9   coapplicant_income  52 non-null     float64
 10  loan_amount         52 non-null     int64
 11  loan_term_month     52 non-null     int64
 12  loan_term_year      52 non-null     int64
 13  credit_history      52 non-null     float64
 14  has_credit_card     52 non-null     object
 15  property_type       52 non-null     object
 16  loan_status         52 non-null     object
dtypes: float64(4), int64(7), object(6)
memory usage: 7.3+ KB