In [1]:
from google.colab import drive
drive.mount('/content/drive')

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Rakamin/Take_Home/loan_customer.csv')

###### Buatlah tabel yang menunjukkan perbandingan jumlah pengajuan pinjaman oleh nasabah perempuan dan laki-laki untuk masing-masing tipe properti.

In [ ]:
df.loc [ 0 : , ['gender','property_type']]
df.iloc [0 : , [3,15]]

     gender property_type
0      Male         house
1      Male        studio
2      Male         house
3      Male         house
4      Male         house
..      ...           ...
616  Female        studio
617    Male        studio
618    Male         house
619    Male         house
620  Female     apartment

[621 rows x 2 columns]

dari tabel diatas bisa dilihat bahwa jumlah nasabah laki-laki lebih besar dari pada nasabah prempuan, disamping itu nasabah laki-laki lebih banya memilih properti rumah dibandingkan dengan properti lainnya, sedangkan nasabah prempuan lebih banyak mengambil properti apertemen dibanding rumah dan studio

Visualisasi